<h1> Hello! :)</h1>

(EN-US)
<br>This Python script performs ETL processes on data collected using Refinitiv Eikon <br> <br>
**Author:**  [Ivan Ribeiro Mello - Federal University of Goiás - UFG](https://www.linkedin.com/in/ivanrmello/)

In [ ]:
import pandas as pd

# 1) {EN-US} Transforming from Eikon format to Time Series Format <br>
     {PT-BR} Transformando do formato Eikon para Séries Temporais

In [ ]:
# reading columnar consolidated data
df_columnar = pd.read_excel('/content/drive/MyDrive/Mestrado - UFG/Dissertação/Database/refinitiv_eikon/consolidated_columnar_database_updated_Brazil.xlsx',
                            sheet_name='raw_data_header_OK_all')

In [ ]:
# checking import
df_columnar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Columns: 179 entries, Identifier (RIC) to numero_empregados_fulltime | 2010
dtypes: float64(172), int64(1), object(6)
memory usage: 637.8+ KB

In [ ]:
# listing all columns to use in pandas.melt
list(df_columnar.columns)

['Identifier (RIC)',
 'Company Name',
 'Country of Exchange',
 'TRBC Economic Sector Name',
 'Organization Website',
 'Organization Founded Year',
 'Organization Founded Month',
 'Organization Founded Day',
 'Organization Status Code',
 'Beta 5 Year',
 'ativos_totais | 2022',
 'ativos_totais | 2021',
 'ativos_totais | 2020',
 'ativos_totais | 2019',
 'ativos_totais | 2018',
 'ativos_totais | 2017',
 'ativos_totais | 2016',
 'ativos_totais | 2015',
 'ativos_totais | 2014',
 'ativos_totais | 2013',
 'ativos_totais | 2012',
 'ativos_totais | 2011',
 'ativos_totais | 2010',
 'debitos_totais | 2022',
 'debitos_totais | 2021',
 'debitos_totais | 2020',
 'debitos_totais | 2019',
 'debitos_totais | 2018',
 'debitos_totais | 2017',
 'debitos_totais | 2016',
 'debitos_totais | 2015',
 'debitos_totais | 2014',
 'debitos_totais | 2013',
 'debitos_totais | 2012',
 'debitos_totais | 2011',
 'debitos_totais | 2010',
 'turnover | 2022',
 'turnover | 2021',
 'turnover | 2020',
 'turnover | 2019',
 'turnover | 2018',
 'turnover | 2017',
 'turnover | 2016',
 'turnover | 2015',
 'turnover | 2014',
 'turnover | 2013',
 'turnover | 2012',
 'turnover | 2011',
 'turnover | 2010',
 'mcap | 2022',
 'mcap | 2021',
 'mcap | 2020',
 'mcap | 2019',
 'mcap | 2018',
 'mcap | 2017',
 'mcap | 2016',
 'mcap | 2015',
 'mcap | 2014',
 'mcap | 2013',
 'mcap | 2012',
 'mcap | 2011',
 'mcap | 2010',
 'receita | 2022',
 'receita | 2021',
 'receita | 2020',
 'receita | 2019',
 'receita | 2018',
 'receita | 2017',
 'receita | 2016',
 'receita | 2015',
 'receita | 2014',
 'receita | 2013',
 'receita | 2012',
 'receita | 2011',
 'receita | 2010',
 'beta | 2022',
 'beta | 2021',
 'beta | 2020',
 'beta | 2019',
 'beta | 2018',
 'beta | 2017',
 'beta | 2016',
 'beta | 2015',
 'beta | 2014',
 'beta | 2013',
 'beta | 2012',
 'beta | 2011',
 'beta | 2010',
 'roa | 2022',
 'roa | 2021',
 'roa | 2020',
 'roa | 2019',
 'roa | 2018',
 'roa | 2017',
 'roa | 2016',
 'roa | 2015',
 'roa | 2014',
 'roa | 2013',
 'roa | 2012',
 'roa | 2011',
 'roa | 2010',
 'roe | 2022',
 'roe | 2021',
 'roe | 2020',
 'roe | 2019',
 'roe | 2018',
 'roe | 2017',
 'roe | 2016',
 'roe | 2015',
 'roe | 2014',
 'roe | 2013',
 'roe | 2012',
 'roe | 2011',
 'roe | 2010',
 'p_d | 2022',
 'p_d | 2021',
 'p_d | 2020',
 'p_d | 2019',
 'p_d | 2018',
 'p_d | 2017',
 'p_d | 2016',
 'p_d | 2015',
 'p_d | 2014',
 'p_d | 2013',
 'p_d | 2012',
 'p_d | 2011',
 'p_d | 2010',
 'pl_equity | 2022',
 'pl_equity | 2021',
 'pl_equity | 2020',
 'pl_equity | 2019',
 'pl_equity | 2018',
 'pl_equity | 2017',
 'pl_equity | 2016',
 'pl_equity | 2015',
 'pl_equity | 2014',
 'pl_equity | 2013',
 'pl_equity | 2012',
 'pl_equity | 2011',
 'pl_equity | 2010',
 'lucro_liquido_antes_dos_impostos | 2022',
 'lucro_liquido_antes_dos_impostos | 2021',
 'lucro_liquido_antes_dos_impostos | 2020',
 'lucro_liquido_antes_dos_impostos | 2019',
 'lucro_liquido_antes_dos_impostos | 2018',
 'lucro_liquido_antes_dos_impostos | 2017',
 'lucro_liquido_antes_dos_impostos | 2016',
 'lucro_liquido_antes_dos_impostos | 2015',
 'lucro_liquido_antes_dos_impostos | 2014',
 'lucro_liquido_antes_dos_impostos | 2013',
 'lucro_liquido_antes_dos_impostos | 2012',
 'lucro_liquido_antes_dos_impostos | 2011',
 'lucro_liquido_antes_dos_impostos | 2010',
 'numero_empregados_csr | 2022',
 'numero_empregados_csr | 2021',
 'numero_empregados_csr | 2020',
 'numero_empregados_csr | 2019',
 'numero_empregados_csr | 2018',
 'numero_empregados_csr | 2017',
 'numero_empregados_csr | 2016',
 'numero_empregados_csr | 2015',
 'numero_empregados_csr | 2014',
 'numero_empregados_csr | 2013',
 'numero_empregados_csr | 2012',
 'numero_empregados_csr | 2011',
 'numero_empregados_csr | 2010',
 'numero_empregados_fulltime | 2022',
 'numero_empregados_fulltime | 2021',
 'numero_empregados_fulltime | 2020',
 'numero_empregados_fulltime | 2019',
 'numero_empregados_fulltime | 2018',
 'numero_empregados_fulltime | 2017',
 'numero_empregados_fulltime | 2016',
 'numero_empregados_fulltime | 2015',
 'numero_empregados_fulltime | 2014',
 'numero_empregados_fulltime | 2013',
 'numero_empregados_fulltime | 2012',
 'numero_empregados_fulltime | 2011',
 'numero_empregados_fulltime | 2010']

In [ ]:
# defining id_vars
id_vars = ['Identifier (RIC)',
          'Company Name',
          'Country of Exchange',
          'TRBC Economic Sector Name',
          'Organization Website',
          'Organization Founded Year',
          'Organization Founded Month',
          'Organization Founded Day',
          'Organization Status Code',
          'Beta 5 Year']

In [ ]:
# defining value_vars
value_vars = ['ativos_totais | 2022',
 'ativos_totais | 2021',
 'ativos_totais | 2020',
 'ativos_totais | 2019',
 'ativos_totais | 2018',
 'ativos_totais | 2017',
 'ativos_totais | 2016',
 'ativos_totais | 2015',
 'ativos_totais | 2014',
 'ativos_totais | 2013',
 'ativos_totais | 2012',
 'ativos_totais | 2011',
 'ativos_totais | 2010',
 'debitos_totais | 2022',
 'debitos_totais | 2021',
 'debitos_totais | 2020',
 'debitos_totais | 2019',
 'debitos_totais | 2018',
 'debitos_totais | 2017',
 'debitos_totais | 2016',
 'debitos_totais | 2015',
 'debitos_totais | 2014',
 'debitos_totais | 2013',
 'debitos_totais | 2012',
 'debitos_totais | 2011',
 'debitos_totais | 2010',
 'turnover | 2022',
 'turnover | 2021',
 'turnover | 2020',
 'turnover | 2019',
 'turnover | 2018',
 'turnover | 2017',
 'turnover | 2016',
 'turnover | 2015',
 'turnover | 2014',
 'turnover | 2013',
 'turnover | 2012',
 'turnover | 2011',
 'turnover | 2010',
 'mcap | 2022',
 'mcap | 2021',
 'mcap | 2020',
 'mcap | 2019',
 'mcap | 2018',
 'mcap | 2017',
 'mcap | 2016',
 'mcap | 2015',
 'mcap | 2014',
 'mcap | 2013',
 'mcap | 2012',
 'mcap | 2011',
 'mcap | 2010',
 'receita | 2022',
 'receita | 2021',
 'receita | 2020',
 'receita | 2019',
 'receita | 2018',
 'receita | 2017',
 'receita | 2016',
 'receita | 2015',
 'receita | 2014',
 'receita | 2013',
 'receita | 2012',
 'receita | 2011',
 'receita | 2010',
 'beta | 2022',
 'beta | 2021',
 'beta | 2020',
 'beta | 2019',
 'beta | 2018',
 'beta | 2017',
 'beta | 2016',
 'beta | 2015',
 'beta | 2014',
 'beta | 2013',
 'beta | 2012',
 'beta | 2011',
 'beta | 2010',
 'roa | 2022',
 'roa | 2021',
 'roa | 2020',
 'roa | 2019',
 'roa | 2018',
 'roa | 2017',
 'roa | 2016',
 'roa | 2015',
 'roa | 2014',
 'roa | 2013',
 'roa | 2012',
 'roa | 2011',
 'roa | 2010',
 'roe | 2022',
 'roe | 2021',
 'roe | 2020',
 'roe | 2019',
 'roe | 2018',
 'roe | 2017',
 'roe | 2016',
 'roe | 2015',
 'roe | 2014',
 'roe | 2013',
 'roe | 2012',
 'roe | 2011',
 'roe | 2010',
 'p_d | 2022',
 'p_d | 2021',
 'p_d | 2020',
 'p_d | 2019',
 'p_d | 2018',
 'p_d | 2017',
 'p_d | 2016',
 'p_d | 2015',
 'p_d | 2014',
 'p_d | 2013',
 'p_d | 2012',
 'p_d | 2011',
 'p_d | 2010',
 'pl_equity | 2022',
 'pl_equity | 2021',
 'pl_equity | 2020',
 'pl_equity | 2019',
 'pl_equity | 2018',
 'pl_equity | 2017',
 'pl_equity | 2016',
 'pl_equity | 2015',
 'pl_equity | 2014',
 'pl_equity | 2013',
 'pl_equity | 2012',
 'pl_equity | 2011',
 'pl_equity | 2010',
 'lucro_liquido_antes_dos_impostos | 2022',
 'lucro_liquido_antes_dos_impostos | 2021',
 'lucro_liquido_antes_dos_impostos | 2020',
 'lucro_liquido_antes_dos_impostos | 2019',
 'lucro_liquido_antes_dos_impostos | 2018',
 'lucro_liquido_antes_dos_impostos | 2017',
 'lucro_liquido_antes_dos_impostos | 2016',
 'lucro_liquido_antes_dos_impostos | 2015',
 'lucro_liquido_antes_dos_impostos | 2014',
 'lucro_liquido_antes_dos_impostos | 2013',
 'lucro_liquido_antes_dos_impostos | 2012',
 'lucro_liquido_antes_dos_impostos | 2011',
 'lucro_liquido_antes_dos_impostos | 2010',
 'numero_empregados_csr | 2022',
 'numero_empregados_csr | 2021',
 'numero_empregados_csr | 2020',
 'numero_empregados_csr | 2019',
 'numero_empregados_csr | 2018',
 'numero_empregados_csr | 2017',
 'numero_empregados_csr | 2016',
 'numero_empregados_csr | 2015',
 'numero_empregados_csr | 2014',
 'numero_empregados_csr | 2013',
 'numero_empregados_csr | 2012',
 'numero_empregados_csr | 2011',
 'numero_empregados_csr | 2010',
 'numero_empregados_fulltime | 2022',
 'numero_empregados_fulltime | 2021',
 'numero_empregados_fulltime | 2020',
 'numero_empregados_fulltime | 2019',
 'numero_empregados_fulltime | 2018',
 'numero_empregados_fulltime | 2017',
 'numero_empregados_fulltime | 2016',
 'numero_empregados_fulltime | 2015',
 'numero_empregados_fulltime | 2014',
 'numero_empregados_fulltime | 2013',
 'numero_empregados_fulltime | 2012',
 'numero_empregados_fulltime | 2011',
 'numero_empregados_fulltime | 2010']

In [ ]:
# performing melting process
df_melted = pd.melt(df_columnar, id_vars=id_vars, value_vars=value_vars)

In [ ]:
# getting .info()
df_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77064 entries, 0 to 77063
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Identifier (RIC)            77064 non-null  object
 1   Company Name                77064 non-null  object
 2   Country of Exchange         77064 non-null  object
 3   TRBC Economic Sector Name   77064 non-null  object
 4   Organization Website        70135 non-null  object
 5   Organization Founded Year   77064 non-null  int64
 6   Organization Founded Month  76388 non-null  float64
 7   Organization Founded Day    76388 non-null  float64
 8   Organization Status Code    77064 non-null  object
 9   Beta 5 Year                 49686 non-null  float64
 10  variable                    77064 non-null  object
 11  value                       36080 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 7.1+ MB

In [ ]:
# performing .head() do identify how to separate variable name from FY definition
df_melted.head()

,Identifier (RIC),Company Name,Country of Exchange,TRBC Economic Sector Name,Organization Website,Organization Founded Year,Organization Founded Month,Organization Founded Day,Organization Status Code,Beta 5 Year,variable,value
0,BDIF11.SA,Btg Pactual Divida Infra Fundo de Investimento...,Brazil,Financials,NaN,2021,2.0,8.0,Act,NaN,ativos_totais | 2022,NaN
1,LAND3.SA,Terra Santa Propriedades Agricolas SA,Brazil,Real Estate,https://www.terrasantapa.com.br/,2021,1.0,11.0,Act,NaN,ativos_totais | 2022,1.814330e+08
2,MEGA3.SA,Omega Energia SA,Brazil,Utilities,https://omegaenergia.com.br/,2021,5.0,27.0,Act,NaN,ativos_totais | 2022,2.179810e+09
3,AATH11.SA,Athon Energia ESG I Fundo de Investimento em P...,Brazil,Financials,NaN,2021,1.0,29.0,Act,NaN,ativos_totais | 2022,NaN
4,AESB3.SA,AES Brasil Energia SA,Brazil,Utilities,https://aesbrasil.com.br/,2020,3.0,20.0,Act,0.64517,ativos_totais | 2022,3.581621e+09

In [ ]:
# separating variable name from year
df_melted[['variable_name','year']] = df_melted['variable'].str.split('|', expand=True)

In [ ]:
# performing .info() for checks
df_melted.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77064 entries, 0 to 77063
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Identifier (RIC)            77064 non-null  object
 1   Company Name                77064 non-null  object
 2   Country of Exchange         77064 non-null  object
 3   TRBC Economic Sector Name   77064 non-null  object
 4   Organization Website        70135 non-null  object
 5   Organization Founded Year   77064 non-null  int64
 6   Organization Founded Month  76388 non-null  float64
 7   Organization Founded Day    76388 non-null  float64
 8   Organization Status Code    77064 non-null  object
 9   Beta 5 Year                 49686 non-null  float64
 10  variable                    77064 non-null  object
 11  value                       36080 non-null  float64
 12  variable_name               77064 non-null  object
 13  year                        77064 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 8.2+ MB

In [ ]:
# defining more redable names for columns
new_names_columns = [
                     #'original_csv_filename',
                     'identifier_ric','company_name','country_of_exchange','trbc_economic_sector_name',
                     'organization_website','organization_founded_year','organization_founded_month','organization_founded_day',
                     'organization_status_code','beta_5_year','variable','value','variable_name','year']

In [ ]:
# seting new names
df_melted.columns = new_names_columns

In [ ]:
# names are OK now
df_melted.head()

,identifier_ric,company_name,country_of_exchange,trbc_economic_sector_name,organization_website,organization_founded_year,organization_founded_month,organization_founded_day,organization_status_code,beta_5_year,variable,value,variable_name,year
0,BDIF11.SA,Btg Pactual Divida Infra Fundo de Investimento...,Brazil,Financials,NaN,2021,2.0,8.0,Act,NaN,ativos_totais | 2022,NaN,ativos_totais,2022
1,LAND3.SA,Terra Santa Propriedades Agricolas SA,Brazil,Real Estate,https://www.terrasantapa.com.br/,2021,1.0,11.0,Act,NaN,ativos_totais | 2022,1.814330e+08,ativos_totais,2022
2,MEGA3.SA,Omega Energia SA,Brazil,Utilities,https://omegaenergia.com.br/,2021,5.0,27.0,Act,NaN,ativos_totais | 2022,2.179810e+09,ativos_totais,2022
3,AATH11.SA,Athon Energia ESG I Fundo de Investimento em P...,Brazil,Financials,NaN,2021,1.0,29.0,Act,NaN,ativos_totais | 2022,NaN,ativos_totais,2022
4,AESB3.SA,AES Brasil Energia SA,Brazil,Utilities,https://aesbrasil.com.br/,2020,3.0,20.0,Act,0.64517,ativos_totais | 2022,3.581621e+09,ativos_totais,2022

In [ ]:
# let's create an additional column called variable_name_en which will contain the name in english
df_melted['variable_name'].unique()

array(['ativos_totais ', 'debitos_totais ', 'turnover ', 'mcap ',
       'receita ', 'beta ', 'roa ', 'roe ', 'p_d ', 'pl_equity ',
       'lucro_liquido_antes_dos_impostos ', 'numero_empregados_csr ',
       'numero_empregados_fulltime '], dtype=object)

In [ ]:
# creating the column with portuguese names
df_melted['variable_name_en'] = df_melted['variable_name']

#changin portuguese names to english using a dict inside replace function, won't replace {turnover, mcap, beta, roa, roe, pl_equity}
df_melted['variable_name_en'] = df_melted['variable_name_en'].replace({'ativos_totais ':'total_assets',
                                                                       'debitos_totais ':'total_debts',
                                                                       'receita ':'revenue',
                                                                       'p_d ':'r_d',
                                                                       'lucro_liquido_antes_dos_impostos ':'net_income_before_taxes',
                                                                       'numero_empregados_csr ':'employees_as_csr_reported',
                                                                       'numero_empregados_fulltime ':'employees_fulltime'
                                                                      })

In [ ]:
# ok it works, but now let's trim both columns
df_melted['variable_name_en'].unique()

array(['total_assets', 'total_debts', 'turnover ', 'mcap ', 'revenue',
       'beta ', 'roa ', 'roe ', 'r_d', 'pl_equity ',
       'net_income_before_taxes', 'employees_as_csr_reported',
       'employees_fulltime'], dtype=object)

In [ ]:
# listing all object columns in df_melted
df_obj = df_melted.select_dtypes(['object'])
# trimming columns
df_melted[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [ ]:
df_pivoted = df_melted.pivot_table(values=['value'], index=[ 'identifier_ric', 'company_name',
                                                        'country_of_exchange', 'trbc_economic_sector_name',
                                                        'organization_website', 'organization_founded_year',
                                                        'organization_founded_month', 'organization_founded_day',
                                                        'organization_status_code', 'beta_5_year','year'],
                    columns=['variable_name_en']).reset_index()

In [ ]:
# flattening multiindex generated by pivot_table
df_pivoted.columns = df_pivoted.columns.to_flat_index()

In [ ]:
# but the columns names are a bit strange, so I will normalize them
df_pivoted.columns

Index([                ('identifier_ric', ''),
                         ('company_name', ''),
                  ('country_of_exchange', ''),
            ('trbc_economic_sector_name', ''),
                 ('organization_website', ''),
            ('organization_founded_year', ''),
           ('organization_founded_month', ''),
             ('organization_founded_day', ''),
             ('organization_status_code', ''),
                          ('beta_5_year', ''),
                                 ('year', ''),
                            ('value', 'beta'),
       ('value', 'employees_as_csr_reported'),
              ('value', 'employees_fulltime'),
                            ('value', 'mcap'),
         ('value', 'net_income_before_taxes'),
                       ('value', 'pl_equity'),
                             ('value', 'r_d'),
                         ('value', 'revenue'),
                             ('value', 'roa'),
                             ('value', 'roe'),
                    ('value', 'total_assets'),
                     ('value', 'total_debts'),
                        ('value', 'turnover')],
      dtype='object')

In [ ]:
pivoted_columns_names = [ 'identifier_ric', 'company_name',
                          'country_of_exchange', 'trbc_economic_sector_name',
                          'organization_website', 'organization_founded_year',
                          'organization_founded_month', 'organization_founded_day',
                          'organization_status_code', 'beta_5_year','year',
                          'beta','employees_as_csr_reported','employees_fulltime',
                         'mcap','net_income_before_taxes','pl_equity',
                         'r_d','revenue','roa','roe','total_assets','total_debts',
                         'turnover']
df_pivoted.columns = pivoted_columns_names

# 2) {EN-US} Performing some transformation to guarantee that website is a good match with Google Play Store Data by developer e-mail <br>
     {PT-BR} Transformando o site das empresas para que seja um bom match com os dados da Google Play Store

In [ ]:
all_sites_final = list(df_pivoted['organization_website'].unique())

In [ ]:
prefixes = []
for website in all_sites_final:
  prefixes.append(website.split('://')[0])

In [ ]:
set(prefixes)

{'http', 'https'}

Prefixes are always `'http://'` and `'https://'`<br><br>

---


The steps are:

*   Let's split every site by '://'
*   Then, let's keep only the last slice [-1]
*   From the last slice [-1], let's remove 'www.'
*   Then, let's split by '/' again and keep first slice
*   Finally the result seems to be the domain of each company just like the following e-mail domain some.person@**abraudurso.ru**, derived from http://www.abraudurso.ru/ as the company website

In [ ]:
# testing the function
'https://www.first-am.ru/individuals/fund/zpifn-kommercheskaya-nedvizhimost/'.split('://')[-1].replace('www.','').split('/')[0]

'first-am.ru'

In [ ]:
# building the function that gets the email domain from a website
def get_email_domain(company_website):
  return company_website.split('://')[-1].replace('www.','').split('/')[0].lower().strip().lower().strip()

In [ ]:
# applying the function to every website from the organization_website column
email_domain_list = []
for row in list(df_pivoted['organization_website']):
  email_domain_list.append(get_email_domain(row))

In [ ]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3365 entries, 0 to 3364
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   identifier_ric              3365 non-null   object
 1   company_name                3365 non-null   object
 2   country_of_exchange         3365 non-null   object
 3   trbc_economic_sector_name   3365 non-null   object
 4   organization_website        3365 non-null   object
 5   organization_founded_year   3365 non-null   int64
 6   organization_founded_month  3365 non-null   float64
 7   organization_founded_day    3365 non-null   float64
 8   organization_status_code    3365 non-null   object
 9   beta_5_year                 3365 non-null   float64
 10  year                        3365 non-null   object
 11  beta                        1870 non-null   float64
 12  employees_as_csr_reported   729 non-null    float64
 13  employees_fulltime          1351 non-null   float64
 14  mcap                        3217 non-null   float64
 15  net_income_before_taxes     3079 non-null   float64
 16  pl_equity                   3080 non-null   float64
 17  r_d                         172 non-null    float64
 18  revenue                     2886 non-null   float64
 19  roa                         1258 non-null   float64
 20  roe                         1573 non-null   float64
 21  total_assets                3079 non-null   float64
 22  total_debts                 3078 non-null   float64
 23  turnover                    3242 non-null   float64
dtypes: float64(16), int64(1), object(7)
memory usage: 631.1+ KB

In [ ]:
# creating a new column from the email domain list after the organization website column
df_pivoted.insert(loc=6, column='organization_email_domain', value=email_domain_list)

In [ ]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3365 entries, 0 to 3364
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   identifier_ric              3365 non-null   object
 1   company_name                3365 non-null   object
 2   country_of_exchange         3365 non-null   object
 3   trbc_economic_sector_name   3365 non-null   object
 4   organization_website        3365 non-null   object
 5   organization_founded_year   3365 non-null   int64
 6   organization_email_domain   3365 non-null   object
 7   organization_founded_month  3365 non-null   float64
 8   organization_founded_day    3365 non-null   float64
 9   organization_status_code    3365 non-null   object
 10  beta_5_year                 3365 non-null   float64
 11  year                        3365 non-null   object
 12  beta                        1870 non-null   float64
 13  employees_as_csr_reported   729 non-null    float64
 14  employees_fulltime          1351 non-null   float64
 15  mcap                        3217 non-null   float64
 16  net_income_before_taxes     3079 non-null   float64
 17  pl_equity                   3080 non-null   float64
 18  r_d                         172 non-null    float64
 19  revenue                     2886 non-null   float64
 20  roa                         1258 non-null   float64
 21  roe                         1573 non-null   float64
 22  total_assets                3079 non-null   float64
 23  total_debts                 3078 non-null   float64
 24  turnover                    3242 non-null   float64
dtypes: float64(16), int64(1), object(8)
memory usage: 657.4+ KB

In [ ]:
df_pivoted.head()

,identifier_ric,company_name,country_of_exchange,trbc_economic_sector_name,organization_website,organization_founded_year,organization_email_domain,organization_founded_month,organization_founded_day,organization_status_code,...,mcap,net_income_before_taxes,pl_equity,r_d,revenue,roa,roe,total_assets,total_debts,turnover
0,AALR3.SA,Centro de Imagem Diagnosticos SA,Brazil,Healthcare,https://centrodaimagem.com.br/,1992,centrodaimagem.com.br,8.0,5.0,Act,...,NaN,1.097426e+07,1.154547e+08,NaN,1.168168e+08,NaN,NaN,2.495719e+08,6.178508e+07,NaN
1,AALR3.SA,Centro de Imagem Diagnosticos SA,Brazil,Healthcare,https://centrodaimagem.com.br/,1992,centrodaimagem.com.br,8.0,5.0,Act,...,NaN,-2.111404e+06,2.797588e+08,NaN,1.479673e+08,NaN,NaN,5.509323e+08,1.243387e+08,NaN
2,AALR3.SA,Centro de Imagem Diagnosticos SA,Brazil,Healthcare,https://centrodaimagem.com.br/,1992,centrodaimagem.com.br,8.0,5.0,Act,...,5.174188e+08,1.759907e+06,1.808595e+08,NaN,1.767141e+08,NaN,NaN,3.880363e+08,1.175571e+08,1.652387e+06
3,AALR3.SA,Centro de Imagem Diagnosticos SA,Brazil,Healthcare,https://centrodaimagem.com.br/,1992,centrodaimagem.com.br,8.0,5.0,Act,...,5.285872e+08,1.064152e+07,3.607525e+08,NaN,2.924720e+08,NaN,0.0157,6.659019e+08,1.554307e+08,4.056800e+06
4,AALR3.SA,Centro de Imagem Diagnosticos SA,Brazil,Healthcare,https://centrodaimagem.com.br/,1992,centrodaimagem.com.br,8.0,5.0,Act,...,4.057513e+08,-2.392138e+06,3.681833e+08,NaN,3.254358e+08,NaN,0.0201,6.898901e+08,1.809281e+08,7.841954e+05

In [ ]:
#Connecting to Cloud SDK - to write data into BigQuery tables
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
# Writing into BigQuery
df_pivoted.to_gbq(destination_table='refinitiv_eikon.pivoted_processed_data_all',
                             project_id='mello-dissertation-database',
                             if_exists='replace')

100%|██████████| 1/1 [00:00<00:00, 1683.78it/s]